<div class="max-w-4xl mx-auto bg-white shadow-xl rounded-lg mt-2 sm:p-5 md:p-8 lg:p-10">
  <div class="flex items-center justify-between flex-row  border p-4 rounded-lg">
    <h1 class="font-extrabold text-gray-900 text-xl sm:text-2xl md:text-3xl">Edit Category</h1>
    <%= link_to admin_categories_path, class: "text-gray-500 hover:text-gray-700 text-sm flex items-center mt-4 sm:mt-0" do %>
      <i class="fas fa-arrow-left mr-2"></i> Back
    <% end %>
  </div>
  <%= render "form", admin_category: @admin_category %>
</div>
