<div class="md:w-2/3 w-full flex justify-center">
  <div class="mx-auto w-full max-w-3xl">
    <%= render @admin_category %>
    <div class="mt-6 flex justify-start space-x-4">
      <%= link_to "Edit this category", edit_admin_category_path(@admin_category), class: "mt-2 py-2 px-5 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-200" %>
      <%= link_to "Back to categories", admin_categories_path, class: "mt-2 py-2 px-5 bg-gray-300 text-gray-800 rounded-lg hover:bg-gray-400 transition duration-200" %>
      <%= button_to "Destroy this category", admin_category_path(@admin_category), method: :delete, data: { confirm: "Are you sure?" }, class: "mt-2 py-2 px-5 bg-red-500 text-white rounded-lg hover:bg-red-600 transition duration-200" %>
    </div>
  </div>
</div>
